In [ ]:
a = 35

In [ ]:
b = 30